doctype html
html(lang='ko')
    head 
        include partials/meta
        include partials/meta-og
        link(rel='stylesheet' href='https://unpkg.com/mvp.css')
        title #{pageTitle} | MARSTUBE
    body
        include layouts/layout
