doctype html
html(lang='ko')
    head 
        include partials/meta
        include partials/meta-og
        title #{pageTitle} | MARSTUBE
    body
        main 
            block content
        include layouts/footer
